body {
  /* 背景画像の読み込み */
  background-image: url('./img/background.png');
  background-size: cover;
  height: 100vh;
  margin: 0;
}
p {
  margin: 0;
}


.monster-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.monster-image {
  height: 300px;
}

#me-hp {
  width: 100%;
}

.hp-wrapper {
  display: flex;
  flex-direction: column;
}

.comp-hand {
  display: flex;
  justify-content: center;
  height: 150px;
}

.my-hand {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#comp-hand-image {
  width: 70px;
  height: 70px;
}

#myhand-goo {
  width: 25%;
  height: 25%;
}

#myhand-thoki {
width: 25%;
height: 25%;
}

#myhand-pa {
width: 25%;
height: 25%;
}

#janken-result {
font-size: large;
display: flex;
justify-content: center;
}